# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.IQuadratC V4.iml
# Datasource local storage ignored files
/../../../../../../../:\dev\IQuadratC\IQuadratC V4\.idea\.idea.IQuadratC V4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
